files:
    "/etc/httpd/conf.d/ssl_rewrite.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            location / {
                if ($http_x_forwarded_proto != 'https') {
                    return 301 https://timevillage.org\$request_uri;
                }
                root   html;
                index  index.html index.htm;
            }        