files:
  /etc/nginx/conf.d/gzip.conf:
      mode: "000644"
      owner: root
      group: root
      content: |
        # enable gzip compression
        gzip on;
        gzip_min_length  1000;
        gzip_types    text/plain text/html text/xml text/css text/javascript application/javascript application/json application/x-javascript;
        gzip_vary on;
        # end gzip configuration

# container_commands:
#  02_restart_nginx:
#    command: service nginx restart